{% extends 'base.html' %}
{% load form_extras %}

{% block title %}New Account Registration | {{ block.super }}{% endblock %}


{% block content %}
  <h2 class="text-center login-heading">New Account Registration</h2>
  <form class="login-form" method="post">
    <ul class="error-list text-danger">
      {% for field in form %}
        {% for err in field.errors %}
          <li>{{ err }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
    {% csrf_token %}
    <label for="{{ form.username.id_for_label }}" class="sr-only">Username</label>
    {{ form.username|add_class:'form-control'|set_placeholder:'username' }}
    <label for="{{ form.password1.id_for_label }}" class="sr-only">Password</label>
    {{ form.password1|add_class:'form-control'|set_placeholder:'password' }}
    <label for="{{ form.password2.id_for_label }}" class="sr-only">Confirm Password</label>
    {{ form.password2|add_class:'form-control'|set_placeholder:'confirm password' }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
  </form>
{% endblock %}
