<footer class="footer">
  <div class="container">
    <p>Made by a simple guy who thinks this is realy usefull.
       <a href="mailto:nospoil.guy@gmail.com">contact me</a>
    </p>
    <p>Just kidding. I'm looking for a job and made this as portfolio project.</p>
    <p><a href="https://github.com/RomanOsadchuk/nospoil">Project source</a>. Created with
      <a href="https://www.djangoproject.com/">django</a>,
      <a href="https://vuejs.org/">vue.js</a> and
      <a href="http://getbootstrap.com/">bootstrap</a>.
    </p>
  </div>
</footer>