<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">NoSpoil</a>
    </div>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% if 'last_viewed' in request.session %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Last Viewed <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              {% for playoff in request.session.last_viewed %}
                <li><a href="{% url 'playoffs:detail' playoff.pk playoff.slug %}">{{ playoff.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% endif %}
        <li><a href="{% url 'playoffs:index' %}">All Playoffs</a></li>
        <li><a href="{% url 'playoffs:create' %}">Add Playoff</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'accounts:profile' %}">My Profile</a></li>
          <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'accounts:login' %}">Login</a></li>
          <li><a href="{% url 'accounts:register' %}">Register</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
