<div id="match-{{ match.position }}" class="match-form">
  <div class="input-group">
    <input type="text" class="form-control side-a" placeholder="first side"
           name="side-a-{{ match.position }}" value="{{ match.side_a }}">
    <span class="input-group-btn">
      <button class="btn btn-a {% if match.winner_a is True %}btn-success{% else %}btn-default{% endif %}" type="button">won</button>
    </span>
  </div>
  <div class="input-group">
    <input type="text" class="form-control side-b" placeholder="second side"
           name="side-b-{{ match.position }}" value="{{ match.side_b }}">
    <span class="input-group-btn">
      <button class="btn btn-b {% if match.winner_a is False %}btn-success{% else %}btn-default{% endif %}" type="button">won</button>
    </span>
  </div>
  <input type="text" class="form-control input-sm youtube-id" value="{{ match.youtube_id }}"
         placeholder="youtube id" name="youtube-id-{{ match.position }}"
         data-toggle="popover" data-content="Put youtube video id here. Or the whole link (it will be cropped to id)">
  <input type="hidden" class="winner-a" name="winner-a-{{ match.position }}" value="{{ match.winner_a }}">
</div>
