{% extends 'base.html' %}
{% load static form_extras %}

{% block title %}{% if is_create_view %}Create{% else %}Edit{% endif %} Playoff | {{ block.super }}{% endblock %}

{% block extra_body %}
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script type="text/javascript" src="{% static 'playoffs/helpers.js' %}"></script>
  <script type="text/javascript" src="{% static 'playoffs/switcher.js' %}"></script>
  <script type="text/javascript" src="{% static 'playoffs/match-form.js' %}"></script>
  <script type="text/javascript" src="{% static 'playoffs/playoff-editing.js' %}"></script>
{% endblock %}


{% block content %}
  <h1 class="text-center">{% if is_create_view %}Create{% else %}Edit{% endif %} Palyoff</h1>

  <form id="playoff-form" class="form-horizontal" action="" method="post">
    {% csrf_token %}
    <div id="vue-playoff">
      <div class="form-group">
        <label class="sr-only" for="{{ form.title.id_for_label }}">Playoff Title</label>
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
          {{ form.title|add_class:"form-control input-lg"|set_placeholder:"Playoff Title" }}
        </div>
      </div>
      <div class="form-group">
        <label class="sr-only" for="{{ form.sport.id_for_label }}">Kind of Sport</label>
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
          {{ form.sport|add_class:"form-control"|set_placeholder:"Kind of Sport" }}
        </div>
      </div>

      {% if is_create_view and request.user.is_authenticated %}
        <div class="form-group">
          <label class="sr-only" for="{{ form.private.id_for_label }}">Private or Public</label>
          <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <checkbox-switcher input-id="{{ form.private.id_for_label }}" input-name="{{ form.private.html_name }}"
                               ticked-btn="Private" ticked-ph="only you can edit"
                               unticked-btn="Public" unticked-ph="enyone can edit"></checkbox-switcher>
          </div>
        </div>
      {% endif %}

      {% if is_create_view %}
        <div class="form-group">
          <label class="sr-only" for="{{ form.rounds.id_for_label }}">Rounds Number</label>
          <div class="col-sm-3 col-sm-offset-2 col-md-2 col-md-offset-3">
            <select class="form-control" id="{{ form.rounds.id_for_label }}" name="rounds" required
                    v-bind:value="playoff.rounds" v-on:change="updateRounds">
              <option v-for="option in playoff.roundOptions" v-bind:value="option.value">
                ${ option.text }
              </option>
            </select>
          </div>

          <label class="sr-only" for="{{ form.double.id_for_label }}">Single or Double Elimination</label>
          <div class="col-sm-5 col-md-4">
            <checkbox-switcher v-on:ticked="playoff.double = true" v-on:unticked="makeSingle"
                               input-id="{{ form.double.id_for_label }}" input-name="{{ form.double.html_name }}"
                               is-ticked="true" ticked-btn="Double" ticked-ph="elimination"
                               unticked-btn="Single" unticked-ph="elimination"></checkbox-switcher>
          </div>
        </div>
      {% endif %}
    </div>

    <div>
      <ul id="tablist" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#winners" aria-controls="winners grid" role="tab" data-toggle="tab">
            <template v-if="playoff.double">Winners </template>Grid
          </a>
        </li>
        <li v-if="playoff.double" role="presentation">
          <a href="#loosers" aria-controls="Loosers grid" role="tab" data-toggle="tab">Loosers Grid</a>
        </li>
        <li v-if="playoff.double" role="presentation">
          <a href="#final" aria-controls="Grand Final" role="tab" data-toggle="tab">Grand Final</a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="winners">
          {% include 'playoffs/playoff_table.html' with rounds=grid.winners %}
        </div>
        <div role="tabpanel" class="tab-pane" id="loosers">
          {% include 'playoffs/playoff_table.html' with rounds=grid.loosers %}
        </div>
        <div role="tabpanel" class="tab-pane" id="final">
          {% include 'playoffs/match_form.html' with match=grid.grand_final %}
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-5 col-sm-2">
        <button type="submit" class="btn btn-primary btn-lg btn-block">
          {% if is_create_view %}Save{% else %}Update{% endif %}
        </button>
      </div>
    </div>
  </form>

{% endblock %}
