<div class="playoff-table-outter wrapper flipped">
  <table class="table playoff-table flipped">
    <tbody>
      <tr class="round-names">
        {% for rnd in rounds %}
          <template v-if="hidden < {{ forloop.counter }}">
            <th v-if="shrinked < {{ forloop.counter }}" class="expanded-column">{{ rnd.long_name }}</th>
            <th v-else class="shrinked-column">{{ rnd.short_name }}</th>
          </template>
        {% endfor %}
      </tr>

      <tr class="actions shrink-row">
        {% for rnd in rounds %}
          <template v-if="hidden < {{ forloop.counter }}">
            <td v-if="shrinked < {{ forloop.counter }}">
              <a href="#" v-on:click.prevent="shrinked = {{ forloop.counter }}">&gt collapse &lt</a>
            </td>
            <td v-else><a href="#" v-on:click.prevent="shrinked = {{ forloop.counter0 }}">&lt&gt</a></td>
          </template>
        {% endfor %}
      </tr>

      {% if is_detail_view %}
        <tr class="actions show-row">
          {% for rnd in rounds %}
            <td v-if="shrinked < {{ forloop.counter }}">
              <a href="#" v-on:click.prevent="spoiled = {{ forloop.counter }}">show all</a>
            </td>
            <td v-else>...</td>
          {% endfor %}
        </tr>
      {% endif %}

      <tr class="matches">
        {% for rnd in rounds %}
          <template v-if="hidden < {{ forloop.counter }}">
            <td v-if="shrinked < {{ forloop.counter }}" :class="spclasses[{{ forloop.counter0 }}]">
              {% if is_detail_view %}
                {% with round_counter=forloop.counter %}
                  {% for match in rnd.matches %}
                    <match-detail round="{{ round_counter }}" v-bind:spoiled="spoiled"
                                  side-a="{{ match.side_a|default:' -no info- ' }}"
                                  side-b="{{ match.side_b|default:' -no info- ' }}"
                                  youtube-src="{{ match.embed_yt_src }}"></match-detail>
                  {% endfor %}
                {% endwith %}
              {% else %}
                {% for match in rnd.matches %}
                  <match-form v-on:update="updateGrid('{{ match.position }}')"
                              position="{{ match.position }}"></match-form>
                {% endfor %}
              {% endif %}
            </td>
            <td v-else></td>
          </template>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
